.frontpage{
    background-color: #422F81;
}
h1{
    height: 179px;
    width: 486px;
    position: absolute;
    left: 140px;
    top: 319px;
    font-family: Nunito Sans;
    font-size: 90px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: 0em;
    text-align: left;
    color: #F9F7FF;
}
.squares1{
    position: absolute;
    width: 113.52px;
    height: 90.03px;
    left: 708px;
    top: 213.97px;
}
.image2{
    position: absolute;
    width: 258px;
    height: 340px;
    left: 744px;
    top: 255px;
}
.h1Para{
    position: absolute;
    width: 347px;
    height: 31px;
    left: 146px;
    top: 538px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 128.9%;
    /* identical to box height, or 31px */
    color: #F9F7FF;
}
.image2InCircle{
    position: absolute;
    left: 82%;
    right: 15.22%;
    top: 7.02%;
    bottom: 91.99%;
    box-shadow: 0px 6px 8px rgba(16, 27, 79, 0.202163);
    height: 39.63092041015625px;
    width: 40px;
    left: 1180.8104248046875px;
    top: 281.3793029785156px;
    border-radius: 0px;
}
a{
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}