.frontpage{
    background-color: #422F81;
}
h1{
    height: 179px;
    width: 486px;
    position: absolute;
    left: 140px;
    top: 319px;
    font-family: Nunito Sans;
    font-size: 90px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: 0em;
    text-align: left;
    color: #F9F7FF;
}
.squares1{
    position: absolute;
    width: 113.52px;
    height: 90.03px;
    left: 708px;
    top: 213.97px;
}
.image2{
    position: absolute;
    width: 258px;
    height: 340px;
    left: 744px;
    top: 255px;
}